[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
locust = "*"
locust-plugins = "==1.0.21"
locust-swarm = "*"
gevent = "*"

[dev-packages]
black = "==21.5b1"
pre-commit = "*"
ptvsd = "*"
debugpy = "*"

[requires]
python_version = "3.9"
